%div.tree-ref-holder
  = render 'gitlab/shared/ref_switcher', destination: 'blob', path: @path

%div#tree-holder.tree-holder
  = render 'blob', blob: @blob

- if allowed_tree_edit?
  = render 'gitlab/projects/blob/remove'
