= render layout: 'gitlab/help/layout' do
  %h3.page-title GitLab Flavored Markdown

  .help_body
    = preserve do
      = markdown File.read(Gitlab::Engine.root.join("doc", "markdown", "markdown.md"))
