.event_filter
  = event_filter_link Gitlab::EventFilter.push, 'Push events'
  = event_filter_link Gitlab::EventFilter.merged, 'Merge events'
  = event_filter_link Gitlab::EventFilter.comments, 'Comments'
  = event_filter_link Gitlab::EventFilter.team, 'Team'
